/*Html/Body*/
html {
    margin: auto;
    width: 100%;
    background-color: #3179b310;
}

body {
    min-height: 100%;
}

.body_text {
    padding: 10px 30px 30px 30px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    background-color: white;
}

svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-basis: 100%;
    min-width: 200px;
}

.rec_svg {
    background-color: #e9f2f9;
    border-radius: 5px;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*=========================Text=========================*/


/*Font family pulled from Google Fonts: Roboto Slab*/
h1 {
    font-size: 2.2vmax;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    line-height: 3vmax;
    color: #0f2538;
}

/*Font family pulled from Google Fonts: Lato*/
h2 {
    font-size: 1.2vmax;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #0f2538;

    border-style: solid;
    border-width: 1px;
    border-color: #909aa5;

    background-color: #3179b310;
    padding: 0.25vmax;
    border-radius: 5px;
}

a, b, p, i, blockquote, text {font-size: 0.9vmax; font-family: 'Raleway', sans-serif; font-weight: 500; color: #0f2538f6; line-height:1.1vmax;}

/*Link to Website*/
a { text-decoration: none; color: #3582c2; font-weight: 500; line-height: 1.2vmax;}
a.header { font-family: 'Lato', sans-serif; text-decoration: none; font-size: 0.9vmax; font-weight: bold; color: #3582c2; line-height: 1.2vmax;}
a.footer { font-family: 'Lato', sans-serif; text-decoration: none; font-size: 0.8vmax; font-weight: bold; color: #3582c2; line-height: 1.2vmax;}
a.footnote_link { font-family: 'Lato', sans-serif; text-decoration: none; font-size: 0.7vmax; font-weight: 500; color: #3582c2; line-height: 1.2vmax;}
a.list { text-decoration: none; font-size: 0.9vmax; font-weight: bold; color: #3582c2; line-height: 1.2vmax;}

.text_right_align {
    float:right;
}

/*=========================List Elements=========================*/
ul {
    border-bottom: 1px solid #909aa5; 
    line-height: 1vmax; color: #333;
}

nav ul, footer ul {
    font-family: 'Lato', sans-serif; 
    padding: 0px; 
    font-weight: bold;
}
nav ul li, footer ul li { 
    display: inline;
    margin-right: 20px;
}

@media screen and (max-width: 600px){
    a.header {font-size: 1.1em;}
    a.footer {font-size: 1em;}
}

/*Footer*/
footer {font-size: .7vmax;}

/*Foot Note*/
.footnote {color: #909aa5; font-size: 0.7vmax; line-height: 1.2vmax;}

.tagline {font-family: 'Lato', sans-serif; font-size: 0.6em; color: #0f2537;}

.reference {
    background: #3179b310;
    border-left: 2px solid #909aa5;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    font-size: 0.9em;
}

.italics {font-size: .8em;}

/*Indent*/
.indent {text-indent: 3em}

/*Images*/
.center img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vmax;
    height: auto;
}


.heatmap {
    border-radius: 5px;
}


/*=========================Code=========================*/
.code_output {
    font-size: 0.75vmax;
    display: block;
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background-color: #F8F8FF;
    white-space: pre-wrap;
}

.code_highlight {
    font-size: 0.75vmax;
    border-radius: 5px;
    white-space: pre-wrap;
}

.code_inline {
    font-size: 0.75vmax;
    color: #3582c2;
    padding: 1px 1px 1px 1px;
    border-radius: 3px;
    background-color: #3583c225;
}

.button {
    background-color: #3582c2;
    border: none;
    border-radius: 2px;
    color: #fcfcfc;
    padding: 3px 4px;
    font-size: 0.8vmax;
    font-family: 'Lato', sans-serif;
    max-width: 100%;
}

.button:hover {
    background-color: #909aa5;
    color: #fcfcfc;
}

.math_font_inline {
    font-size: 1.05vmax;
}

.math_block {
    margin-top: 3vmax;
    margin-bottom: 3vmax;
    font-size: 1.4vmax;
}