/*Html/Body*/
html, body{
   margin:0;
   padding:0;
}

.body_text {
    padding: 20px;
    background-color: #fff;
    position: relative;
}

svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-basis: 100%;
    min-width: 200px;
}

.rec_svg {
    background-color: #e9f2f9;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #909aa5;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.page_links {
    height: 100%;
    padding: 10px 30px 30px 30px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    background-color: #fff;
}

/*=========================Text=========================*/

/*HEADER 1: Font family pulled from Google Fonts: Roboto Slab*/
h1 {
    font-size: 2.2vmax;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 3vmax;
    color: #333;
}

/*HEADER 2: Font family pulled from Google Fonts: Lato*/
h2 {
    font-size: 1.2vmax;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #333;
}

/*Create box around header*/
.header_box h2 {
    overflow: auto;
    text-align: center;

    border-style: solid;
    border-width: 1px;
    border-color: #909aa5;

    background-color: #e9f2f9;
    padding: 0.25vmax;
    border-radius: 5px;
}

a, b, p, i, blockquote {font-size: 0.9vmax; font-family: 'Raleway', sans-serif; font-weight: 500; color: #333; line-height:1.1vmax;}
a { text-decoration: none; color: #3582c2; }

/*=========================Mobile=========================*/
@media screen and (max-width: 600px){
    .navigation a {font-size: 2vmax;}
    .footer a {font-size: 2vmax;}
    .footer-bottom p {font-size: 1.2vmax; line-height: 2vmax;}
    .footer-bottom a {font-size: 1.2vmax; line-height: 2vmax;}

    h1 {font-size: 3.5vmax;}

    .header_box h2 {font-size: 2vmax;}

    a, b, p, i, blockquote {font-size: 1.4vmax; font-family: 'Raleway', sans-serif; font-weight: 500; color: #333; line-height: 2vmax;}
    a { text-decoration: none; color: #3582c2; }

    .code_output {font-size: 1.2vmax;}

    .link_list a {font-size: 2vmax; line-height: 3vmax;}
}

.text_right_align {
    float:right;
}

/*=========================List Elements=========================*/

.link_list {
    overflow: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #909aa5;
    display: block;
    padding: 15px;
    border-radius: 5px;
    background-color: #F8F8FF;
}

.link_list li {
    line-height: 1vmax;
}

/*=========================Navigation and Footer=========================*/

.navigation {
    overflow: auto;
    border-bottom: 1px solid #909aa5;
}

.navigation a {
    float: left;
    display: block;
    text-align: center;
    padding: 10px;

    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

/*==================================================*/

.footer {
    position: fixed;
    bottom:0;
    left: 0;
    height: 11%;
    width: 100%;
    background-color: #f0f1f3;
    border-top: 1px solid #cdd4da;

    padding: 1px 5px 5px 5px;
    border-radius: 5px;
}

.footer-top {
    overflow: auto;
    border-bottom: 1px solid #909aa5;
}

.footer-top a {
    float: left;
    display: block;
    text-align: center;
    padding: 10px;

    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.footer-bottom {
    position: relative;
    padding-left: 10px;
}

.footer-bottom p {
    font-family: 'Lato', sans-serif;
    color: #333;
}

.footer-bottom a {
    font-family: 'Lato', sans-serif;
}




.tagline {font-family: 'Lato', sans-serif; font-size: 0.6em; color: #333;}

.reference {
    background: #3179b310;
    border-left: 2px solid #909aa5;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    font-size: 0.9em;
}

.italics {font-size: .8em;}

/*Indent*/
.indent {text-indent: 3em}

/*Images*/
.center img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vmax;
    height: auto;
}


.heatmap {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #909aa5;
}


/*=========================Code=========================*/
.code_output {
    display: block;
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background-color: #F8F8FF;
    white-space: pre-wrap;

    border-style: solid;
    border-width: 1px;
    border-color: #909aa5;
}

.code_highlight {
    font-size: 0.75vmax;
    border-radius: 5px;
    white-space: pre-wrap;

    border-style: solid;
    border-width: 1px;
    border-color: #909aa5;
}

.code_inline {
    font-size: 0.75vmax;
    color: #3582c2;
    padding: 1px 1px 1px 1px;
    border-radius: 3px;
    background-color: #3583c225;
}

.button {
    background-color: #3582c2;
    border-radius: 2px;
    color: #fcfcfc;
    padding: 3px 4px;
    font-size: 0.8vmax;
    font-family: 'Lato', sans-serif;
    max-width: 100%;

    border-style: solid;
    border-width: 1px;
    border-color: #909aa5;
}

.button:hover {
    background-color: #909aa5;
    color: #fcfcfc;
}

.math_font_inline {
    font-size: 1.05vmax;
}

.math_block {
    margin-top: 3vmax;
    margin-bottom: 3vmax;
    font-size: 1.4vmax;
}