/*Html/Body*/
html, body{
   height:100%;
   background-color: #fff;

   font-size: calc(0.875em + 0.25 * (100vw - 80em) / 40);
   font-size: -webkit-calc(87.5% + 0.25 * (100vw - 8000%) / 40);

}

svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-basis: 100%;
    min-width: 200px;
}

.rec_svg {
    background-color: #e9f2f9;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #909aa55b;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.page_layout {
    margin-left: 15vmax;
    margin-right: 15vmax;
    margin-bottom: auto;
    margin-top: auto;
}

.vspace {
    margin-bottom: 36vmax;
}

.reference_vspace {
    margin-bottom: 3vmax;
}

.gen_vspace {
    margin-bottom: 2vmax;
}

/*++++++++++++++++++++++++++++++++++++Text++++++++++++++++++++++++++++++++++++*/

/*==========================Headers==========================*/

/*HEADER 1: Font family pulled from Google Fonts: Roboto Slab*/
h1 {
    font-size: 4vmin;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    line-height: 4vmin;
    color: #333;
}

/*HEADER 2: Font family pulled from Google Fonts: Lato*/
h2 {
    font-size: 3vmin;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #333;
}

/*HEADER 3: Font family pulled from Google Fonts: Lato*/
h3 {
    font-size: 2vmin;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #333;
}

.header_block h1, h2, h3 {
    overflow: auto;
}

.header_block i {
    font-family: 'Lato', sans-serif;
    color: #414346;
}

/*==========================Main Text==========================*/

p, i, blockquote {
    font-size: 1.6vmin; 
    font-family: 'Roboto', sans-serif; 
    font-weight: 300; 
    color: #333; 
    line-height: 2.7vmin; 
}

a {
    font-size: 1.6vmin; 
    font-family: 'Roboto', sans-serif; 
    font-weight: 300; 
    line-height: 2.7vmin; 
    text-decoration: none; 
    color: #3582c2;
}

.thought {
    background-color: #eaf2f9c7;
    border: 1px solid #909aa55b;
    border-radius: 5px;
    padding: 1vmax;
}

.thought i {
    display: block;
    font-size: 1.5vmin;
}

.reference {
    background-color: #909aa50e;
    border: 1px solid #909aa55b;
    border-radius: 5px;
    padding-top: 0.1vmin;
    padding-bottom: 0.1vmin;
    padding-left: 2vmin;
    padding-right: 2vmin;
}

.reference p {
    display: block;
    font-size: 1.5vmin; 
    text-indent: 2vmax;
}

.abstract {
    background-color: #8dbbe041;
    border: 1px solid #909aa55b;
    border-radius: 5px;
    padding: 1vmax;
}

.abstract i {
    display: block;
    font-size: 0.9vmax;
    text-indent: 2vmax;
}

/*=========================Navigation and Footer=========================*/

.navigation {
    overflow: auto;
    border-bottom: 1px solid #909aa5ec;
}

.navigation a {
    float: left;
    display: block;
    text-align: center;
    font-size: 1.5vmin;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

/*==================================================*/
.footer {
    position: static;
    bottom:0;
    left: 0;
    height: 11%;
    width: 100%;
    padding-top: 20px;
}

.footer-top {
    overflow: auto;
    border-bottom: 1px solid #909aa5ec;
    bottom:0;
}

.footer-top a {
    float: left;
    display: block;
    text-align: center;
    font-size: 1.5vmin;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.footer-bottom {
    position: relative;
    padding-left: 10px;
    bottom:0;
}

.footer-bottom p {
    font-family: 'Roboto', sans-serif;
    color: #8f959b;
    font-size: 1.1vmin;
    line-height: 1.6vmin;
}

.footer-bottom a {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1vmin;
    line-height: 1.6vmin;
}

.section_break {
    overflow: auto;
    border-bottom: 1px solid #909aa55b;
    margin-top: 1.5vmax;
    margin-bottom: 1.5vmax;
}

.portrait img {
    border-radius: 50%;
    height: 12vmax;
    width: 12vmax;
}

/*=========================Mobile=========================*/
@media screen and (max-width: 500px){

    .page_layout {
        margin-left: 3vmax;
        margin-right: 3vmax;
    }

    .navigation a {font-size: 2.2vmax;}
    .footer a {font-size: 2.2vmax;}
    .footer-bottom p {font-size: 1.5vmax; line-height: 2vmax;}
    .footer-bottom a {font-size: 1.5vmax; line-height: 2vmax;}

    .vspace { margin-bottom: 55vmax;}

    h1 {font-size: 5vmax; line-height: 6vmax;}
    h2 {font-size: 4vmax;}
    h3 {font-size: 2.5vmax;}

    a, p, i, blockquote {font-size: 2.2vmax; font-family: 'Roboto', sans-serif; color: #333; line-height: 3.5vmax;}
    a { text-decoration: none; color: #3582c2; }

    .code_inline {font-size: 1.6vmax;}

    .code_output {font-size: 1.8vmax;}

    .link_list a {font-size: 2vmax; line-height: 3vmax;}

    .ordered_list {font-size: 2vmax; line-height: 4vmax;}

    .heatmap {
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: #909aa55b;
        padding: 10px;
        width: 100%;
        height: 40vmax;
    }

    .heatmap_small {width:100%; height: 350px;}

    .math_block {font-size: 3vmax;}

    .button {font-size: 2vmax;}

    .reference_vspace { margin-bottom: 1vmax;}

    .portrait img {height: 20vmax; width: 20vmax;}

    .abstract i {font-size: 1.8vmax;}

    .thought i {font-size: 1.8vmax;}

    .reference p {font-size: 2vmax;}

}

@media screen and (min-width: 601px){
    .code_inline {font-size: 0.8vmax;}
    .code_output {font-size: 0.8vmax;}
    .ordered_list {line-height: 1.75vmax;}
    .heatmap {width: 100%; height: 40vmin;}
    .heatmap_small {width: 40vmin; height: 40vmin;}
    .math_block {font-size: 3vmin;}
}

.text_right_align {
    float:right;
}

/*=========================List Elements=========================*/

.link_list {
    margin-bottom: 100vh;
    overflow: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #909aa55b;
    display: block;
    padding: 15px;
    border-radius: 5px;
    background-color: #F8F8FF;
}

.link_list li {
    line-height: 1vmax;
}

.ordered_list {
    overflow: auto;
    margin-left: 1vmax;
    margin-top: -1vmax;
    margin-bottom: -1vmax;
    display: block;
}

.ordered_list li {
    font-family: 'Roboto', sans-serif; 
    font-weight: 300;
    color: #333;
}



.italics {font-size: .8em;}

/*Indent*/
.indent {text-indent: 2vmax}

/*Images*/
.center img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 48vmax;
    height: auto;
}

.heatmap {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #909aa55b;
    padding: 10px;

}

.network {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #909aa55b;
    background-color: #3583c20a;
}

.graph {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #909aa55b;
}

.heatmap_small {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    border-color: #909aa55b;
}

/*=========================Code=========================*/
.code_output {
    display: block;
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background-color: #f9fcfda2;
    white-space: pre-wrap;

    border-style: solid;
    border-width: 1px;
    border-color: #909aa55b;
}

.code_highlight {
    font-size: 0.8vmax;
    border-radius: 5px;
    white-space: pre-wrap;
    border-style: solid;
    border-width: 1px;
    border-color: #909aa55b;
}

.code_inline {
    color: #3582c2;
    padding: 1px 1px 1px 1px;
    border-radius: 3px;
    background-color: #3583c225;
}

.button {
    background-color: #3582c2;
    border-radius: 5px;
    color: #fcfcfc;
    padding: 3px 4px;
    font-family: 'Roboto', sans-serif;
    max-width: 100%;

    border-style: solid;
    border-width: 1px;
    border-color: #909aa55b;
}

.button:hover {
    background-color: #909aa5;
    color: #fcfcfc;
}

.math_block {
    margin-top: 3vmax;
    margin-bottom: 3vmax;
}
