<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

</head>


<body>

    <nav>

        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/projects">Projects</a>
            </li>
            <li>
                <a href="/blog">Blog</a>
            </li>
            <li>
                <a href="/CV">CV</a>
            </li>
        </ul>

    </nav>

    <div class="container">

        {{ content }}

    </div>

    <footer>
        <ul>
            <li>
                <a href="Bryson.Seiler@gmail.com">Email</a>
            </li>
            <li>
                <a href="https://github.com/BrysonSeiler">GitHub</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/brysonseiler/">LinkedIn</a>
            </li>
        </ul>

        <p class="footnote">

            This website was influenced by
            <a href="http://jmcglone.com/guides/github-pages/"> Jonathan McGlone's guide </a> to hosting a personal site on GitHub.

        </p>

    </footer>



</body>

</html>