<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Lato:700|Raleway:500,600|Roboto:700" rel="stylesheet">
    
</head>

<body class = "page_links">

    <div class="navigation">

            <a  href="/">Home</a>
            <a  href="/projects">Projects</a>
            <a  href="/blog">Blog</a>
            <a  href="/CV">CV</a>
            <a  href="/References">References</a>

    </div>

    <div class="container">

        {{ content }}

    </div>

    <div class="footer">
        <div class="footer-top">
            <a href="Bryson.Seiler@gmail.com">Email</a>
            <a href="https://github.com/BrysonSeiler">GitHub</a>
            <a href="https://www.linkedin.com/in/brysonseiler/">LinkedIn</a> 
        </div>
        <div class="footer-bottom">
            <p>
                This website was influenced by
                <a href="http://jmcglone.com/guides/github-pages/"> Jonathan McGlone's guide </a> to hosting a personal site on GitHub. <br/>
                Code highlighting by <a href="https://highlightjs.org/"> Highlight.js</a> (<a href="https://github.com/highlightjs/highlight.js/blob/master/LICENSE">BSD license</a>).<br/>
                <a href="https://fonts.google.com/"> Google Fonts</a>: Roboto, Fira Mono.
            </p>
        </div>
    </div>


</body>

</html>